:root {
    font-size: 14px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.content {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: #555;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.cta {
    font-size: 1.5rem;
}

.btn {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    background: #aaa;
    font-size: 1.3rem;
}